*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
}
body{
  background: #0c3c63;
  color: #fff;
}
a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.467);
}
#header{
  width: 100%;
  height: 100vh;
}
.container {
  padding: 20px 2%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#content-image{
  position: relative;
}
.kaimondake-resume{
  position: absolute;
  bottom: 9px;
  left: 22px;
  font-size: 0.6em;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.content-image:hover .kaimondake-resume{
  visibility: visible;
  opacity: 1;
}
#kaimondake:hover{
  box-shadow: 0 0 2px 1px #00bfff;
  border-radius: 35px;

}
.logo{
  width: 80px;
}
.sticky-nav{
  position: fixed;
  right: 0;
  background: #154b77f6;
  border-radius: 35px;
  z-index: 1;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 2px;
  background: #00bfff;
  position: absolute;
  left: 0;
  bottom: -6px;
}
nav ul li a:hover::after{
  width: 100%;
}
.header-text{
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1{
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span{
  color:#00bfff
}

/* ---- About ---- */
.about-divider {
  display: block;
  margin: 20px;
  width: 200px;
  height: 2px;
  background-color: #00bfff;
}
#about{
  padding: 60px 0;
  color: #fff;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  flex-basis: 40%;
}
.about-col-1 img{
  width: 90%;
  border-radius: 15px;
}
.about-col-2{
  flex-basis: 60%;
}
.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}
.tab-links{
  margin-right: 80px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 2px;
  background: #00bfff;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after{
  width: 50%
}
.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
  font-size: 22px;
}

.tab-contents ul li span{
  color: #00bfff;
  font-size: 18px;
}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;
}
/* ----- work ---- */
.divider{
  display: block;
  margin: 40px;
  width: 200px;
  height: 2px;
  background-color: #00bfff;
}
#work{
  padding: 100px 0;
  background-image: linear-gradient(#0c3c63, #0d497a)
}
.work-list{
  padding: 60px 25px;
}
.work-row img{
  width: 55%;
  border-radius: 10px;
}
.description-title{
  font-size: 1.5em;
  padding-bottom: 12px;
}
.work-info{
  padding: 20px;
  font-size: 1.1em;
}
.description-container{
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}
.description-buttons{
  padding: 10px;
}
.work-buttons {
  transition-duration: 0.4s;
  background-color: #003847;
  color: #fff;
  border: 2px solid #00bfff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 15px;
}
.work-buttons:hover {
  background-color: #0099cc6b;
  /* Green */
  color: #fff;
}
.tech-stack{
  padding-top: 20px;
}
.techs-used{
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.techs-used a{
  color: white;
}
.tech-used{
  float: left;
  padding: 10px;
  font-size: 0.75em;
}
.tech-used span{
  padding: 5px;
  background-color: #003847;
  border-radius: 5px;
}
/* ----- contact ---- */
#contact {
  padding: 60px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/okinawa.png);
  background-size: auto 200%;
  padding-top: 0px;
  padding-bottom: 100px;
}
#contact-blurb{
  font-size: 1.5em;
  text-align: center;
  line-height: 1.5;
  padding: 25px;
}
.contact-container{
  padding: 20px 2%;
}
.mini-contact-container {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 250px;
}
#luffy{
  width: 150px;
}
.email-link {
  transition-duration: 0.4s;
  background-color: #003847;
  color: #fff;
  border: 2px solid #00bfff;
  padding: 10px;
  text-decoration: none;
  border-radius: 15px;
}
.email-link:hover {
  background-color: #0099cc6b;
  /* Green */
  color: #fff;
}
#luffy-img{
  width: 80%;
}
#luffy{
  position: relative;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation: spin 8s linear infinite;
}
@keyframes spin {
  0% {
    left: 0;
  }
  50% {
    -webkit-transform: rotate(1400deg);
    transform: rotate(1400deg);
    left: 90%;
  }
  100% {
    -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    left: 0
  }
}
/* FOOTER */
.footer{
  padding: 20px;
  text-align: center;
}
.footer ul li img{
  width: 3em;
}
.listed-icons {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}
.icon {
  display: inline-block;
  padding: 10px;
  font-size: 0.75em;
}